@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: Poppins;
    background-color: #1a202c;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #2d3748;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #f56565;
}



nav {
    display: flex;
    align-items: center;
    padding: 3rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #1a202c;
    animation: fadeInDown;
    animation-duration: 1s;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins';
    color: #f56565;
    letter-spacing: 1px;
    margin-left: 20%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    margin-left: 30%;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
    letter-spacing: 1px;
    transition: color 0.5s ease, opacity 0.5s ease;
    opacity: 0.7;
    font-weight: 600;
    font-family: 'Poppins';
}

.nav-links a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 5px;
    color: #fff;
    opacity: 1;
}


h1 {
    font-size: 2.2em;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    font-family: Poppins;
}

.typing {
    margin-top: 0px;
    margin-left: 10px;
    border-right: 2px solid #f56565;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.social-buttons {
    display: flex;
    gap: 1rem;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border: 2px solid #f56565;
    border-radius: 50%;
    color: #f56565;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}


.social-btn:hover {
    background-color: #f56565;
    color: #fff;
}

.social-btn img {
    filter: brightness(0) invert(1);
    width: 28px;
}

.tooltip {
    position: absolute;
    transform: translateX(-50%);
    background-color: #242d3f;
    color: white;
    padding: 15px 20px;
    border-radius: 7px;
    font-size: 18px;
    white-space: nowrap;
    top: 15%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.social-btn:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0px);
    font-weight: 600;
}


.user {
    border-radius: 40px;
    margin-top: 30%;
    margin-left: -20%;
    position: relative;
    z-index: 1;
    box-shadow: -5px -5px 20px 0 rgba(0, 0, 0, 0.5);

}

.html {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    box-shadow: -5px -5px 20px 0 rgba(0, 0, 0, 0.5);
}

.linkwatts {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease, opacity 0.5s ease;
}
.linkwatts:hover{
    color: #4fce5d;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 5px;
}

.linkemail {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease, opacity 0.5s ease;
}
.linkemail:hover{
    color: #f56565;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 5px;
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 1s;
    opacity: 0;
    background-color: #f56565;
    pointer-events: none;
}

.scroll-to-top-btn img {
    width: 25px;
    padding: 7px 7px;

    filter: brightness(0) invert(1);
}

.scroll-to-top-btn img:hover {

    filter: brightness(1) invert(0);

}

.scroll-to-top-btn:hover {

    box-shadow: -5px -5px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    cursor: pointer;
}

.scroll-to-top-btn.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 2s ease, transform 1s ease;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 27px;
    gap: 20px;
}

.card {
    position: relative;
    width: 20%;
    min-height: 20%;
    overflow: hidden;
    box-shadow: -5px -5px 20px 0 rgba(65, 65, 65, 0.5);
}

.card img {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 0, 37, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay a {
    text-decoration: none;
    background: #f56565;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px 20px;
}

.overlay a img {
    width: 32px;
    filter: brightness(0) invert(1);
}

.fade-up,
.fade-down {
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease-out;
}
